# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfplan

# Node / Frontend
node_modules/
frontend/dist/

# Python / Lambdas
__pycache__/
*.pyc
vendor/
build/
infra/modules/lambda_function/artifacts/*.zip

# VS Code
.vscode/
.history/
.DS_Store
